{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>优质教育资源信息管理课程界面</title>
    <!-- 支持响应式布局 -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{% static 'myadmin/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- 象形字体 -->
    <link rel="stylesheet" href="{% static 'myadmin/bower_components/font-awesome/css/font-awesome.min.css' %}">
    <!-- 图标 -->
    <link rel="stylesheet" href="{% static 'myadmin/bower_components/Ionicons/css/ionicons.min.css' %}">
    <!-- 主题风格样式 -->
    <link rel="stylesheet" href="{% static 'myadmin/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE 皮肤.这里选择的是skin-blue样式，我们还可以有其他皮肤可以选择. -->
    <link rel="stylesheet" href="{% static 'myadmin/dist/css/skins/skin-blue.min.css' %}">

    <link rel="stylesheet" href="{% static 'myadmin/dist/css/skins/_all-skins.min.css' %}">
    <!-- Morris chart -->
    <link rel="stylesheet" href="{% static 'myadmin/bower_components/morris.js/morris.css' %}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{% static 'myadmin/bower_components/jvectormap/jquery-jvectormap.css' %}">
    <!-- Date Picker -->
    <link rel="stylesheet"
          href="{% static 'myadmin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{% static 'myadmin/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{% static 'myadmin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">

    <!-- 兼容IE9以下浏览器 -->
    <!--[if lt IE 9]>
  <script src="{% static 'myadmin/local/js/html5shiv.min.js'%}"></script>
  <script src="{% static 'myadmin/local/js/respond.min.js'%}"></script>
  <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="{% static 'myadmin/local/css/google_fonts.css' %}">
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header 主体页头 -->
    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- 侧栏迷你徽标 mini 50x50 pixels -->
            <span class="logo-mini"><b>育</b></span>
            <!-- 常规状态标志和移动设备标志 -->
            <span class="logo-lg"><b>优质教育资源信息管理</b></span>
        </a>

        <!-- Header Navbar 首部导航栏 -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button 侧边栏切换按钮 -->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">切换导航</span>
            </a>
              <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="/static/uploads/student/{{ request.session.student.cover_pic }}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ request.session.student.sname }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="/static/uploads/student/{{ request.session.student.cover_pic }}" class="img-circle" alt="User Image">

                <p>
                  {{ request.session.student.sname }} - 学生
                  <small>{{ request.session.student.create_at }}加入</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{% url 'studentmyself' %}" class="btn btn-default btn-flat">个人信息</a>
                </div>
                <div class="pull-right">
                  <a href="{% url 'student_logout' %}" class="btn btn-default btn-flat">退 出</a>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
        </nav>
    </header>

    <!-- 左侧柱。包含徽标和边栏 -->
    <aside class="main-sidebar" style="background-color: rgb(70, 82, 152)">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div>
                    <img src="/static/student/lessonimages/{{ request.session.mylescover_pic }}" style="width: 200px;border-radius: 10%">
                </div>
                <div style="text-align: center">
                    <p><h4 style="color: white">{{ request.session.mylesname }}</h4></p>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <!-- 导航列表，你可以自行更改图标 -->
                <li><a href="{% url 'inlessontask' %}"><i class="fa fa-bell-o"></i> <span>任务</span></a></li>
                <li><a href="{% url 'inlessonzhang' %}"><i class="fa fa-calendar-check-o"></i> <span>章节</span></a></li>
                <li><a href="{% url 'inlessonhomework' %}"><i class="fa fa-edit"></i> <span>作业</span></a></li>
                <li><a href="{% url 'inlessontalk' %}"><i class="fa fa-comment"></i> <span>讨论</span></a>
                </li>
                <li><a href="{% url 'biji' %}"><i class="fa fa-book"></i> <span>笔记</span></a></li>
                <li><a href="{% url 'knowledge' %}"><i class="fa fa-envelope"></i> <span>知识点</span></a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block main_body %}
        {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
        </div>
        <!-- Default to the left -->
        <strong> &copy; 2022 <a href="#">201819802</a>.</strong> 马冀
    </footer>

    <!-- 添加侧栏的背景。必须放置此处紧接在控制侧边栏之后 -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="{% static 'myadmin/bower_components/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static 'myadmin/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'myadmin/dist/js/adminlte.min.js' %}"></script>

<script src="{% static 'myadmin/dist/js/edu-modal-alert-confirm.js' %}"></script>

<!-- jQuery UI 1.11.4 -->
<script src="{% static 'myadmin/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Morris.js charts -->
<script src="{% static 'myadmin/bower_components/raphael/raphael.min.js' %}"></script>
<script src="{% static 'myadmin/bower_components/morris.js/morris.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'myadmin/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<!-- jvectormap -->
<script src="{% static 'myadmin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'myadmin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'myadmin/bower_components/jquery-knob/dist/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'myadmin/bower_components/moment/min/moment.min.js' %}"></script>
<script src="{% static 'myadmin/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- datepicker -->
<script src="{% static 'myadmin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{% static 'myadmin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
<!-- Slimscroll -->
<script src="{% static 'myadmin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'myadmin/bower_components/fastclick/lib/fastclick.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'myadmin/dist/js/pages/dashboard.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'myadmin/dist/js/demo.js' %}"></script>

</body>
</html>