{% extends "students/base.html" %}
{% load static %}
{% block main_body %}
    <!-- Content Header (Page header) -->
    <style>
        .mylessoncss {
            margin-right: 20px;
            margin-left: 18px;
            margin-top: 20px;
        }

        .mylessoncss img {
            border-radius: 5%;
        }

        .mylessoncss ul {
            list-style: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .mylessoncss ul li {
            list-style: none;
            display: inline-block;
        }

        .mylessoncss ul li a {
            padding: 0 5px;
            display: block;
        }
    </style>

{#    <script>#}
{#        $(function () {#}
{#            $.ajax({#}
{#                type: 'get',#}
{#                url: "{% url 'delmycollects' 0 %}",#}
{#                dataType: 'json',#}
{#                async: false,#}
{#                success: function (res) {#}
{#                    list = res.data;#}
{#                    for(var i=0;i<list.length;i++){#}
{#                        $("#cid").append('<div class="mylessoncss"><div>'+#}
{#                            '<a><img src="/static/student/lessonimages/'+ list[i].cover_pic +'"/></a></div>'+#}
{#                            '<div>'+#}
{#                            '<ul>'+#}
{#                            '<li><h4>'+ list[i].name+'</h4></li>'+#}
{#                            '<li><a><i class="fa fa-star"></i></a></li>'+#}
{#                                '</ul></div></div>')#}
{#                    }#}
{#                },#}
{#            });#}
{##}
{##}
{#        });#}
{#    </script>#}
    <section class="content-header">
        <h4>
            我的收藏:
        </h4>
    </section>


    <div class="col-md-12">
        <div class="box box-primary">
        </div>
    </div>

    <div class="col-md-12">
        <div id="cid" style="display: flex;flex-wrap: wrap">

            {% for ob in mylessones %}
                {% for osl in student_lesson %}
                    {% if ob.id == osl.lessonid %}
                        <div class="mylessoncss">
                            <div><a href="{% url 'inlesson' ob.id %}"><img
                                    src="/static/student/lessonimages/{{ ob.cover_pic }}"/></a></div>
                            <div>
                                <ul>
                                    <li><h4>{{ ob.name }}</h4></li>
                                    <li><a href="{% url 'delmycollects' ob.id %}"><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </div>
    </div>
{% endblock %}